<?xml version="1.0" encoding="utf-8"?>
 
<item>
<title>1º Telefilme / Hercules e as mulheres amazonas</title>
<uri>https://player.vimeo.com/video/206290433</uri>
<thumbnail>http://3.bp.blogspot.com/-u5l2H4-XvZA/VILEjscB3zI/AAAAAAAAE5E/DBuSDbl-qeE/s1600/3381Hercules_season2_EN.jpg</thumbnail>
<info>1º Telefilme / Hercules e as mulheres amazonas</info>
</item>
 



