#EXTM3U

################################################################################# VIPS

#EXTINF:-1 tvg-id="" tvg-logo="http://i.imgur.com/u8eRrGT.png" group-title="CANAIS VIPS",[B][COLOR dodgerblue]|||[/COLOR][COLOR white]|||[/COLOR][COLOR dodgerblue]|||[/COLOR] [COLOR white]CANAIS VIPS[/COLOR][/B]
here

#EXTINF: -1, Dorcel TV
https://player.vimeo.com/video/206290433
#EXTINF: -1, ??????? ????
http://185.231.160.35/267/2/index.m3u8
#EXTINF: -1, Crepúsculo
http://185.231.160.35/362/2/index.m3u8
